
/*================== RESET ====================*/

body {
	font-family: "Open Sans Light", Arial, SansSerif;
	font-style: normal;
	background-color: #333;
}

div, ul, li, p{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	/*border: 1px solid #bbb;*/
}

.wrapper {
	position: relative;
	top:5vh;
	left: 5vh;
	width: 600px;
	height: 400px;
	padding: 30px;
	background-color: #777;
}

#tabs ul {
	position: absolute;		/*--------------*/
	list-style: none;
	margin-left: 50px;
	z-index: 5;
}

#tabs li {
	display: inline-block;
}

#tabs a {
	display: block;
	padding: 8px 20px;
	text-decoration: none;
	color: #000;
	font-weight: bold;

	background-color: #bbb;
	border: 1px solid #555;
	border-radius: 7px 7px 0px 0px;
}

#tabs a:hover {
	background-color: #999;
}

#tabs div {
	position: relative;
	top:39px;
	height: 300px;
	background-color: #eee;
	border: 1px solid #555;
	border-radius: 7px;
	padding: 30px;
	display: none;
	overflow: auto;
}


/*=========== JS modifyed =============*/


/*#tabs li:nth-of-type(1) a {*/
#tabs .active {
	background-color: #eee !important;
	border-color: #555 #555 #eee #555 !important;
	/*cancel default action*/
}


/*#tabs div:nth-of-type(1) {*/
#tabs .active {
	display: block !important;
}


